.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 19px;
}

.modal_opened {
    display: flex;
}

.modal__container {
    margin: auto;
    background-color: #fff;
    padding: 36px;
    border-radius: 10px;
    position: relative;
}

.modal__close {
    background-image: url(../images/Close\ Icon.svg);
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
}

.modal__heading {
    width: 330px;
    /* height: 23px; */
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 24px;
    color: #000;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    /* line-height: 29px; */
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__input {
    width: 358px;
    height: 27.3px;
    margin-top: 30px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: normal;
    /* line-height: 17px; */
}

.modal__button {
    width: 100%;
    height: 50.2px;
    margin-top: 48px;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-style: none;
    border-radius: 2px;
    /* line-height: normal; */
    line-height: 22px;
}

.modal__container-popup {
    margin: auto;
    position: relative;
}
.modal__title-popup {
    width: 291px;
    height: 12px;
    bottom: -22px;
    margin: 0;
    color: #fff;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
}

@media screen and (max-width: 480px) {
    .modal__container {
      width: 100%;
      padding-right: 22px;
      padding-left: 22px;
      box-sizing: border-box;
    }
  
    .modal__close {
      width: 26px;
      height: 26px;
      flex-shrink: 0;
      left: 264px;
      margin-bottom: 13px;
      padding: 0;
    }
  
    .modal__heading {
      font-size: 18px;
    }
  
    .modal__input {
      width: 238px;
      height: 14px;
      flex-shrink: 0;
      /* width: 100%; */
    }
  
  
    .modal__button {
      /* width: 238px;
      height: 46px;
      width: 100%; */
      flex-shrink: 0;
      font-size: 14px;
      line-height: 17px;
    }
  }